---
---

@import "{{ site.theme }}";

//wtf, sans-serif font for code??
code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
}

//avoiding crazy black-on-white highlight for inline code
dl code, code.highlighter-rouge {
  color: black;
  text-shadow: none;
  background-color: #DDD;
}

//making the body larger, more readable, and with more horizontal space for code blocks
body {
  font-size: 16px;
}

#banner {
  margin-right: -488px;
}

section {
  $width: 700px;
  width: $width;
  @media print, screen and (max-width: 1060px) {
    max-width: $width;
  }
}